In [10]:
import pandas as pf
import numpy as np
import tensorflow as tf
from keras.models import Sequential
from keras.layers import LSTM,Dense
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense

In [12]:
df = pd.read_csv('idea.csv')

In [13]:
df.head()

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,Turnover,DeliverableQty,trade
0,IDEA,EQ,2-May-23,6.95,7.00,7.00,6.75,6.90,6.9,6.85,78645995,539041510.6,20804455,26.45
1,IDEA,EQ,3-May-23,6.90,6.90,7.15,6.85,6.95,6.9,7.00,82283911,576310408.1,17105625,20.79
2,IDEA,EQ,4-May-23,6.90,6.95,7.15,6.85,6.95,7.0,7.01,96883916,678914234.5,35872597,37.03
3,IDEA,EQ,5-May-23,7.00,6.95,7.10,6.85,6.95,6.9,6.95,59309955,411909960.6,16650168,28.07
4,IDEA,EQ,8-May-23,6.90,6.95,7.00,6.90,6.90,6.9,6.94,26422235,183470953.5,11776575,44.57

In [16]:
df.columns
df.columns=['santhosh']

ValueError: Length mismatch: Expected axis has 14 elements, new values have 1 elements

In [15]:
df.drop('Series', axis=1, inplace=True)

In [16]:
df.set_index('Date',inplace=True)
df

,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,Turnover,DeliverableQty,trade
Date,,,,,,,,,,,
2-May-23,6.95,7.00,7.00,6.75,6.90,6.9,6.85,78645995,5.390415e+08,20804455,26.45
3-May-23,6.90,6.90,7.15,6.85,6.95,6.9,7.00,82283911,5.763104e+08,17105625,20.79
4-May-23,6.90,6.95,7.15,6.85,6.95,7.0,7.01,96883916,6.789142e+08,35872597,37.03
5-May-23,7.00,6.95,7.10,6.85,6.95,6.9,6.95,59309955,4.119100e+08,16650168,28.07
8-May-23,6.90,6.95,7.00,6.90,6.90,6.9,6.94,26422235,1.834710e+08,11776575,44.57
...,...,...,...,...,...,...,...,...,...,...,...
22-Apr-24,12.90,12.40,13.05,12.10,12.90,12.9,12.53,1682040033,2.107290e+10,611612790,36.36
23-Apr-24,12.90,13.00,14.75,12.95,14.35,14.4,13.97,2715391639,3.792307e+10,755326826,27.82
24-Apr-24,14.40,13.75,13.95,13.00,13.10,13.1,13.46,1634606447,2.200261e+10,603358204,36.91
25-Apr-24,13.10,11.80,14.40,11.80,13.80,13.9,13.11,8453266674,1.107930e+11,4561100119,53.96
26-Apr-24,13.90,13.65,14.20,12.70,13.85,14.0,13.31,3867133280,5.146551e+10,2160538863,55.87

In [17]:
df

,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,Turnover,DeliverableQty,trade
Date,,,,,,,,,,,
2-May-23,6.95,7.00,7.00,6.75,6.90,6.9,6.85,78645995,5.390415e+08,20804455,26.45
3-May-23,6.90,6.90,7.15,6.85,6.95,6.9,7.00,82283911,5.763104e+08,17105625,20.79
4-May-23,6.90,6.95,7.15,6.85,6.95,7.0,7.01,96883916,6.789142e+08,35872597,37.03
5-May-23,7.00,6.95,7.10,6.85,6.95,6.9,6.95,59309955,4.119100e+08,16650168,28.07
8-May-23,6.90,6.95,7.00,6.90,6.90,6.9,6.94,26422235,1.834710e+08,11776575,44.57
...,...,...,...,...,...,...,...,...,...,...,...
22-Apr-24,12.90,12.40,13.05,12.10,12.90,12.9,12.53,1682040033,2.107290e+10,611612790,36.36
23-Apr-24,12.90,13.00,14.75,12.95,14.35,14.4,13.97,2715391639,3.792307e+10,755326826,27.82
24-Apr-24,14.40,13.75,13.95,13.00,13.10,13.1,13.46,1634606447,2.200261e+10,603358204,36.91
25-Apr-24,13.10,11.80,14.40,11.80,13.80,13.9,13.11,8453266674,1.107930e+11,4561100119,53.96
26-Apr-24,13.90,13.65,14.20,12.70,13.85,14.0,13.31,3867133280,5.146551e+10,2160538863,55.87

In [8]:
num_columns = df.shape[1]
print("Number of columns:", num_columns)

Number of columns: 12

In [18]:
print(df.columns)
df.info()

Index(['PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice',
       'ClosePrice', 'AveragePrice', 'TotalTradedQuantity', 'Turnover',
       'DeliverableQty', 'trade'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 2-May-23 to 26-Apr-24
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PrevClose            247 non-null    float64
 1   OpenPrice            247 non-null    float64
 2   HighPrice            247 non-null    float64
 3   LowPrice             247 non-null    float64
 4   LastPrice            247 non-null    float64
 5   ClosePrice           247 non-null    float64
 6   AveragePrice         247 non-null    float64
 7   TotalTradedQuantity  247 non-null    int64
 8   Turnover             247 non-null    float64
 9   DeliverableQty       247 non-null    int64
 10  trade                247 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 23.2+ KB

In [24]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df)
lookback_window =3
features = 11
def create_sequences(data, lookback_window):
    X, y = [], []
    for i in range(len(data) - lookback_window - 1): 
        X.append(data[i:(i + lookback_window), :])
        y.append(data[i + lookback_window, 0:11]) 
    return np.array(X), np.array(y)

model = Sequential()
model.add(LSTM(units=200, return_sequences=True, input_shape=(lookback_window, features)))
model.add(LSTM(units=200))
model.add(Dense(200, activation=tf.nn.leaky_relu))
model.add(Dense(200, activation=tf.nn.leaky_relu))
model.add(Dense(units=11)) 
model.compile(loss='mean_squared_error', optimizer='adam')
X, y = create_sequences(df_scaled, lookback_window)
train_size = int(len(X) * 0.8)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]




model.fit(X_train, y_train, epochs=50, batch_size=30, validation_data=(X_test, y_test))
y_pred = model.predict(X_test)
y_pred_original = scaler.inverse_transform(y_pred)
data = pd.DataFrame(y_pred_original, columns=['PrevClose','OpenPrice','HighPrice','LowPrice','LastPrice','ClosePrice','AveragePrice','TotalTradedQuantity','Turnover','DeliverableQty','trade'])
data

c:\Users\santh\anaconda3\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/50

ValueError: Dimensions must be equal, but are 6 and 11 for '{{node compile_loss/mean_squared_error/sub}} = Sub[T=DT_FLOAT](data_1, sequential_5_1/dense_17_1/Add)' with input shapes: [?,6], [?,11].

In [ ]:
# Define the function to generate predictions
def generate_predictions(model, last_sequence, num_predictions):
    predictions = []
    current_sequence = last_sequence.reshape(1, lookback_window, features)  # Reshape to match model input shape
    for _ in range(num_predictions):
        next_prediction = model.predict(current_sequence)  # Predict the next data point
        predictions.append(next_prediction[0])  # Append the prediction to the list of predictions
        current_sequence = np.append(current_sequence[:, 1:, :], next_prediction.reshape(1, 1, features), axis=1)  # Update the current sequence
    return predictions

# Generate predictions for the next 720 data points
last_sequence = X_test[-1]  # Using the last sequence from the test data
num_predictions = 375
predicted_data = generate_predictions(model, last_sequence, num_predictions)

# Inverse transform the predictions to obtain the original scale
predicted_data_original = scaler.inverse_transform(predicted_data)

# Create a DataFrame with the predicted values and column names
predicted_df = pd.DataFrame(predicted_data_original, columns=['open', 'high', 'low', 'close','openinterest','volume'])

# Assuming the last timestamp in the existing data is '2024-04-09 15:30:00', and you want to generate predictions for the next 720 minutes (12 hours)
last_timestamp = pd.Timestamp('2024-04-09 15:30:00')
predicted_df['time'] = pd.date_range(start=last_timestamp + pd.Timedelta(minutes=1), periods=num_predictions, freq='T')

# Print the predicted data
print(predicted_df)
print(predicted_df['close'].max(),predicted_df['close'].min())