In [2]:
import psycopg2
import pandas as pd

# Database connection details
username = 'test'
password = 'test123'
hostname = '192.168.1.141'
port = '5432'
database_name = 'mydb'

# Establish connection
conn = psycopg2.connect(
    dbname=database_name,
    user=username,
    password=password,
    host=hostname,
    port=port
)

# SQL query
sql_query = "SELECT  TO_TIMESTAMP(lasttradetime) AT TIME ZONE 'Asia/Kolkata' AS time, open,high,low,close,openinterest FROM whole_indices_futures WHERE instrumentidentifier = 'BANKNIFTY10APR2448000CE' order by lasttradetime;"

# Execute SQL query
cursor = conn.cursor()
cursor.execute(sql_query)

# Fetch all the results
rows = cursor.fetchall()

# Convert to DataFrame
df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])

# Close cursor and connection
cursor.close()
conn.close()

# Display the DataFrame
print(df)

                    time     open     high      low    close  openinterest
0    2024-03-07 09:48:00  1140.00  1140.00  1140.00  1140.00             0
1    2024-03-07 09:49:00  1140.00  1140.00  1140.00  1140.00             0
2    2024-03-07 09:50:00  1140.00  1140.00  1140.00  1140.00             0
3    2024-03-07 09:51:00  1140.00  1140.00  1140.00  1140.00             0
4    2024-03-07 09:52:00  1140.00  1140.00  1140.00  1140.00             0
...                  ...      ...      ...      ...      ...           ...
7039 2024-04-05 15:26:00   705.40   712.00   704.00   712.00       1889835
7040 2024-04-05 15:27:00   711.95   717.70   704.30   704.30       1889835
7041 2024-04-05 15:28:00   702.95   707.90   699.05   707.90       1907715
7042 2024-04-05 15:29:00   707.90   714.60   705.10   714.60       1907715
7043 2024-04-05 15:30:00   715.00   715.00   715.00   715.00       1907715

[7044 rows x 6 columns]